<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathtuto</title>
</head>
<body>
    <h1>Mathtuto</h1>
    <h2>Signup</h2>
    <form id="auth" action="/api/signup" method="post">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <input type="submit" value="Signup" />
    </form>
    <br />
    
    <h2>Login</h2>
    <form id="auth2" action="/api/login" method="post">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <input type="submit" value="Login" />
    </form>

    <form action="/api/signout" method="POST">
        <button type="submit">Sign out</button>
    </form>
</body>
</html>